@tailwind base;
@tailwind components;
@tailwind utilities;

.dashboard__header {
    display: flex;
    align-items: center;
    height: theme("height.16");
    padding: 0 theme("spacing.4");
    font-size: theme("fontSize.2xl");
    font-weight: theme("fontWeight.bold");
    background-color: theme("colors.white");
    border-bottom: 1px solid theme("colors.gray.300");
}

.dashboard {
    display: flex;

    aside {
        width: 25%;
        height: theme("height.svh");
        border-right: 1px solid theme("colors.gray.300");
        background-color: theme("colors.white");
        padding: theme("spacing.4") 0;

        .component__link {
            display: block;
            padding: theme("spacing.2") theme("spacing.4");
            margin: theme("spacing.2");
            border-radius: theme("borderRadius.lg");
            text-transform: capitalize;
            font-weight: theme("fontWeight.bold");

            &:hover {
                background-color: theme("colors.gray.800");
                color: theme("colors.white");
            }
        }

        .component__link--active {
            background-color: theme("colors.gray.800");
            color: theme("colors.white");
        }

        .component__sublink {
            display: block;
            margin: 0 0 0 theme("spacing.8");
        }
    }

    main {
        width: 75%;
        padding: theme("spacing.8");
    }
}

